<!DOCTYPE html>
<html>
  <head>
    <title>Jan10App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
  
  </head>

  <body>
    <h1>Home</h1>
    <%= yield %>
  </body>
</html>
